<footer>
<nav>
    <ul class="footer-ul">
        <div class="izquierda">
            <li> <a href="">CONTACTO</a> </li>
            <li> <a href="">DONDE ESTAMOS</a> </li>
            <li> <a href="">ACERCA DE MÍ</a> </li>
        </div>
        <div class="footer-dcha">
            <li>
                <i class="fab fa-facebook-square"></i>
            </li>
            <li>
                <i class="fab fa-instagram-square"></i>
            </li>
            <li>
                <i class="fab fa-twitter-square"></i>
            </li>
        </div>
    </d>
    </ul>
</nav>
</footer>
