<header class="header">
    <nav>
        <ul>
            <div class="dcha">
                <a class="a-logo" href="/"><img class="logo" src="/images/garden.png" alt="Jardines"></a>
                <li><a href="/"> HOME</a></li>
                <li>
                    <a href="/users/mas">GALERIA</a>
                </li>
            </div>
            <div class="costado">
            <li>
        <i class="fab fa-facebook-square"></i>
        </li>
        <li>
        <i class="fab fa-instagram-square"></i>
        </li>
        <li>
        <i class="fab fa-twitter-square"></i>
        </li>
        </div>
        </ul>
    </nav>
</header>