<header class="header">
    <nav>
        <ul>
            <div class="dcha">
                <a class="a-logo" href="/"><img class="logo" src="/images/garden.png" alt="Jardines"></a>
                <li><a href="/"> HOME</a></li>
                <li>
                    <a href="/users/mas">GALERIA</a>
                </li>
            </div>
            <div class="costado">
            <li>
        <a href="https://www.facebook.com/" target="blank">
            <i class="fab fa-facebook-square"></i>
        </a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="blank">
                <i class="fab fa-instagram-square"></i>
        
            </a>
        </li>
        <li>
            <a href="https://twitter.com" target="blank">
        
                <i class="fab fa-twitter-square"></i>
            </a>
        </li>
        </div>
        </ul>
    </nav>
</header>